.profile__title{
    margin: 0;
    padding: 0;
    grid-column: 2/2;
    grid-row: 1/1;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    align-self: end;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*.profile__title::after{*/
/*    content: url("../../../images/pencil-min.svg");*/
/*    margin-left: 9px;*/
/*}*/

/*.profile__title::after:hover{*/
/*    opacity: .6;*/
/*}*/

@media screen and (max-width: 1279px){
    .profile__title{
        grid-column: 1/-1;
        grid-row: 2/2;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-top: 26px;
        margin-left: 0;
    }
    /*.profile__title::after{*/
    /*    content: url("../../../images/pencil-18x18.svg");*/
    /*    margin-right: 18px;*/
    /*    margin-left: 0;*/
    /*}*/

}