.profile__pencil{
    align-self: end;
    margin-bottom: 8px;
    transition: opacity 1s;
}

.profile__pencil:hover{
    opacity: .6;
}

@media screen and (max-width: 1279px){
    .profile__pencil{
        grid-column: 1/-1;
        grid-row: 2/2;
        justify-self: end;
        width: 18px;
        margin-right: 19px;
    }
}