.profile__pencil{
    align-self: end;
    margin-bottom: 8px;
    transition: opacity 1s;
    background-color: #000;
    border: none;
    font-size: 0;
    padding: 0;
}

.profile__pencil:hover{
    opacity: .6;
}

@media screen and (max-width: 1279px){
    .profile__pencil{
        grid-column: 1/-1;
        grid-row: 2/2;
        justify-self: end;
        margin-right: 19px;
    }

    .profile__pencil img{
        width: 18px;
        height: 18px;
    }
}