.profile__caption{
    margin: 0;
    padding: 0;
    grid-column: 2/2;
    grid-row: 2/2;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: start;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(880px - 120px - 24px - 150px - 31px - 37px);
}

@media screen and (max-width: 1279px){
    .profile__caption{
        grid-column: 1/-1;
        grid-row: 3/3;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 6px;
        margin-left: 0;
        width: calc(100% - 2 * 19px);
    }
}