.profile__avatar{
    margin: 0;
    width: 120px;
    border-radius: 50%;
    grid-column: 1/1;
    grid-row: 1/-1;
    align-self: center;
    height: 120px;
}

@media screen and (max-width: 1279px){
    .profile__avatar{
        grid-column: 1/-1;
        grid-row: 1/1;
    }
}