.profile__avatar{
    margin: 0;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    height: 120px;
    z-index: 0;
    
}

.profile__avatar:hover{
    opacity: 0.4;
}
